@font-face {
    font-family: Wakeup;
    src: url(Wakeup.ttf);
}

@font-face {
    font-family: Proxima-Nova-Soft;
    src: url(Proxima-Nova-Soft-Regular.ttf);
}

@font-face {
    font-family: Mirage-Bold;
    src: url(Mirage-Bold.otf);
}

@font-face {
    font-family: Mirage-Black;
    src: url(Mirage-Black.otf);
}

body{
    background-color: #fafbfe;
}
#app {
    font-family: Proxima-Nova-Soft;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #98a6ad;
    position: relative;
    min-height: 100vh;
}
input:hover, input:focus, input:active, textarea:focus, select:focus, .form-control, .form-control:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
input, textarea, select {
    outline: 0;
}
.form-control {
    height: calc(1.9em + .75rem + 2px);
    color: #7a7a8c;
    border: 2px solid rgba(0,0,0,.10);
    transition: 0.5s;
}
.form-control:hover, .form-control:active, .form-control:focus {
    border: 2px solid #727cf5;
    transition: 0.5s;
}
h1, h2, h3, h4, h5 {
    font-weight: bold;
    color: #7a7a8c;
    font-family: Mirage-Black;
    margin-bottom: .7rem;
}
a {
    color: #8c76dc;
}
.table thead th, .table th, .table td {
    border-color: rgba(0,0,0,.07);
    color: rgba(0,0,0,.55);
}
.logo {
    font-family: Wakeup;
    color: #fafbfe;
    font-size: 50px;
    font-weight: bold;
}
.row, .margin-bottom {
    margin-bottom: 20px;
}
.min-margin-bottom {
    margin-bottom: 6px;
}
.min-margin-right {
    margin-right: 2px;
}
.margin-top {
    margin-top: 20px;
}
.margin-right {
    margin-right: 20px;
}
.margin-left {
    margin-left: 20px;
}
.menu {
    /*
    background: rgb(140,118,220);
    background: linear-gradient(45deg, rgba(140,118,220,1) 6%, rgba(114,124,245,1) 48%);
    */
    background-color: #313a46;
    text-align: center;
    width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
}
.container-fluid {
    width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 30px;
    margin-right: auto;
    margin-left: auto;
}
.cursor-pointer {
    cursor: pointer;
}
.btn {
    padding: 0.5rem .5rem;
    font-family: Proxima-Nova-Soft;
}
.btn-app {
    color: #fff;
    background-color: #727cf5;
    border-color: #727cf5;
    cursor: pointer;
    transition: 0.5s;
}
.btn-app:hover, .btn-app:active, .btn-app:focus {
    color: #fff;
    background-color: #646cd1; 
    border-color: #646cd1;
    box-shadow: 0 0.125rem 0.625rem rgba(52,58,64,0.4), 0 0.0625rem 0.125rem rgba(52,58,64,0.5);
    transition: 0.5s;
}
.btn-danger {
    color: #fff;
    background-color: #d55662;
    border-color: #d55662;
    cursor: pointer;
    transition: 0.5s;
}
.btn-danger:hover, .btn-danger:active, .btn-danger:focus {
    color: #fff;
    background-color: #b03a46; 
    border-color: #b03a46;
    box-shadow: 0 0.125rem 0.625rem rgba(52,58,64,0.4), 0 0.0625rem 0.125rem rgba(52,58,64,0.5);
    transition: 0.5s;
}
.btn-gray {
    color: #6c757d;
    background-color: #e9ecef;
    border-color: #e9ecef;
    cursor: pointer;
    transition: 0.5s;
}
.btn-gray:hover, .btn-gray:active, .btn-gray:focus {
    color: #6c757d;
    background-color: #dbdfe3; 
    border-color: #dbdfe3;
    box-shadow: 0 0.125rem 0.625rem rgba(52,58,64,0.4), 0 0.0625rem 0.125rem rgba(52,58,64,0.5);
    transition: 0.5s;
}
footer {
    width: 100%;
    height: 40px;
    bottom: 0;
    width: 100%;
    color: #98a6ad;
    line-height: 1.5;
    text-align: right;
    position: absolute;
    border-top: 1px solid rgba(152,166,173,.2);
}
.version {
    font-size: 12px;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 10px;
    margin-right: auto;
    margin-left: auto;
}
.content {
    padding-top: 30px;
    padding-bottom: 60px;
}
.text-danger {
    color: #c8262a !important;
    transition: 0.3s;
}
.text-danger:hover, .text-danger:focus, .text-danger:active {
    color: #ff0006 !important;
    transition: 0.3s;
}
.btn-lg {
    padding-left: 35px;
    padding-right: 35px;
}
/*custom scrollbar*/
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.10); 
}
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
/*custom scrollbar*/
::placeholder {
    color: rgba(0,0,0,0.3);
    opacity: 1;
}
:-ms-input-placeholder {
    color: rgba(0,0,0,0.3);
}
::-ms-input-placeholder {
    color: rgba(0,0,0,0.3);
}
.layout {
    background: #fff;
    -webkit-box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
    box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
    border-radius: 5px;
    padding: 15px;
}
.layout-gray {
    padding: .75rem 1rem;
    list-style: none;
    color: #6c757d;
    background-color: #e9ecef;
    border-radius: .25rem;
}
.layout-dashed {
    padding: .75rem 1rem;
    list-style: none;
    color: #6c757d;
    background-color: transparent;
    border: 3px dashed #e9ecef;
    border-radius: .25rem;
}
hr {
    border: 1px dashed #e9ecef;
}
label {
    font-weight: bold;
}
.game {
    font-weight: bold;
    color: rgba(0,0,0,.23);
}
.text-bold {
    font-weight: bold;
}
.btn-delete-user {
    margin-top: 3px;
    margin-right: 10px;
    cursor: pointer;
    color: rgba(0,0,0,.15);
    transition: 0.5s;
}
.btn-delete-user:hover {
    color: #d55662;
    transition: 0.5s;
}
.playing-card{
    text-align: center;
    position: relative;
    height: 176px;
    width: 122px;
    border: 2px solid transparent;
}
.playing-card-back {
    background: url(../images/card-back.svg) no-repeat;
    background-size: 100%;
    color: transparent;
}
.playing-card-front {
    background: url(../images/card-front.svg) no-repeat;
    background-size: 100%;
    color: transparent;
    cursor: pointer;
    transition: all .1s ease-in-out;
}
.playing-card-front:hover {
    -webkit-box-shadow: 0px 17px 39px -23px rgba(112,112,112,1);
    -moz-box-shadow: 0px 17px 39px -23px rgba(112,112,112,1);
    box-shadow: 0px 17px 39px -23px rgba(112,112,112,1);
    border: 2px solid #ddd;
    border-radius: 7px;
    transform: scale(1.1);
    transition: 0.2s;
}
.playing-card .value{
    font-weight: bold;
    font-size: 25px;
    color: #7a7a8c;
}
.playing-card-front.selected{
    -webkit-box-shadow: 0px 17px 39px -23px rgba(112,112,112,1);
    -moz-box-shadow: 0px 17px 39px -23px rgba(112,112,112,1);
    box-shadow: 0px 17px 39px -23px rgba(112,112,112,1);
    border: 2px solid #0acf97;
    border-radius: 7px;
    transform: scale(1.1);
    transition: 1s;
}
.playing-card .value.selected{
    color: #0acf97;
    font-size: 28px;
}
.online {
    color: #0acf97;
    font-size: 9px;
    vertical-align: middle;
    margin-bottom: 3px;
}
@keyframes spinner {
    to { transform: rotate(360deg); }
}
.spin {
    animation: spinner 2s linear infinite;
    font-size: 20px;
}
.alert-gray {
    border-color: #e9ecef;
    color: #6c757d;
    background-color: #e9ecef;
    border-radius: .25rem;
}